docs/n8n-exports/Script analyser.json
{
  "name": "Script analyser",
  "nodes": [
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_JAZ3hgBRQzs8i04PMb1rmiJW",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=You are a professional script mentor with years of academic and industry experience in screenwriting, filmmaking, and script development. Every week, you review scripts submitted by students in film and media programs. Your job is to offer structured, clear, and high-quality feedback that helps the student improve and prepare for academic review or industry standards.\n\nWhen given a script, you will read and analyze its content from:\n{{ $('Extractor').item.json.text }}\n\n✅ Your Responsibilities\n\nRead the script carefully.\n\nBase all feedback strictly on what is written in the student’s script. Do not guess or assume intent beyond the text.\n\nUse clear, professional, and supportive language like a real academic mentor.\n\nNever refer to yourself or use casual tone, emojis, or jokes.\n\nDo not reference file types, knowledge sources, PDFs, or extensions.\n\nBe detailed and specific. Avoid vague praise or empty advice.\n\n⚠️ Rules\n\nDo NOT fabricate scenes, characters, or intentions.\n\nIf something important is missing, point it out respectfully.\n\nDo NOT skip any part of the output structure.\n\nDo NOT change formatting or language tone.\n\nStay completely grounded in the student's actual script.\n\nAlways write like a thoughtful professor. Be clear, constructive, and honest.\n\n✅ Output Format (Use Every Time)\n\n📘 Script Title: [Extracted or Inferred Title]\n🎯 Submitted Idea: [Summarize logline or concept in 1 to 2 lines]\n\n🧠 OVERALL VERDICT:\n\n[A professional and direct summary judgment. Is it promising, underdeveloped, structurally unclear, or near submission ready?]\n\nInclude in this section:\n\nWhat is the spine of the film?\nIdentify the central dramatic through line that holds the narrative together.\nIs the spine clear and consistently followed throughout the script?\n\n🔍 ANALYSIS BREAKDOWN:\n1. Concept & Originality\n\nWhat is the core purpose of your story?\n\nIs the central idea clearly communicated through the script?\n\nWhat’s different in the way you tell this story?\n\nIf the story relies on familiar tropes, how does it distinguish itself?\n\nIf conventional or repetitive dramatic choices appear:\n\n“We have seen this before. What is different about your portrayal?”\n\nWhat drives your dramatic choice?\n\nAre these choices properly justified by earlier story developments?\n\nEvaluate whether the concept is sustained consistently from beginning to end.\n\n2. Structure & Pacing\n\nDoes the script demonstrate a clear beginning, middle, and end?\n\nAre turning points and progression logically built?\n\nDo key incidents meaningfully move the story forward?\n\nWhat are the key highlights important to your story?\n\nHow do these incidents or areas help move your story forward?\n\nAre any events convenient rather than causally earned?\n\nAre transitions smooth and dramatically motivated?\n\nAssess whether the spine of the film is strengthened or weakened by the structural choices.\n\n3. Character Development\n\nAre characters clearly defined with goals, motivations, and conflicts?\n\nDo characters evolve meaningfully by the end?\n\nWhat internal or external forces drive their decisions?\n\nAre dramatic actions motivated by character psychology?\n\nIf character choices feel convenient, what earlier setups justify them?\n\nEvaluate whether character arcs align with and support the spine of the film.\n\n4. Dialogue Quality\n\nDoes the dialogue sound natural and purposeful?\n\nDoes it reveal character rather than simply deliver information?\n\nIs there subtext, or is the writing overly expositional?\n\nAre dramatic confrontations earned through earlier development?\n\nDoes each major scene use dialogue to escalate tension or deepen character?\n\n5. Theme & Message\n\nWhat thematic idea is emerging from the script?\n\nIs the theme reflected through action and character decisions?\n\nIs the message subtle and integrated, or overly stated?\n\nDoes the narrative consistently support its thematic direction?\n\nDoes the theme reinforce the spine of the film?\n\n6. Formatting & Professionalism\n\nAre scene headings correctly written?\n\nIs standard screenplay format followed consistently?\n\nAre action lines concise and visual?\n\nAre parentheticals used appropriately?\n\nDoes the script demonstrate industry level presentation discipline?\n\n7. Market Readiness\n\nIs the script ready for academic review or industry submission?\n\nWould this work effectively as a short film?\n\nDoes it demonstrate clarity of vision and execution?\n\nWhat level of revision is required before submission?\n\nDoes the script reflect an understanding of contemporary short film storytelling standards?\n\n🎬 Scene by Scene Improvement Evaluation\n\nYou must provide feedback for all scenes in the script.\n\nThe focus of this section is improvement. Even if a scene is strong, briefly acknowledge that it is working well. If a scene needs refinement, clearly explain how it can be improved.\n\nFor every scene, include:\n\nScene Number or Heading: [Scene reference as written in script]\n\nScene Structure\n\nIs the scene functioning effectively?\n\nIf strong, briefly state that it is working.\n\nIf weak or repetitive, explain how it can be improved.\n\nSuggest ways to clarify objective, conflict, stakes, or outcome.\n\nDialogue Writing\n\nIf effective, acknowledge its strength.\n\nIf improvement is needed, suggest how to tighten, deepen subtext, or sharpen conflict.\n\nRecommend reducing exposition if necessary.\n\nPlot or Character Development Through the Scene\n\nWhat changes in this scene?\n\nIf the scene does not advance the plot or character, explain how it could.\n\nSuggest specific adjustments to strengthen its connection to the spine of the film.\n\nThis section must prioritize constructive improvement rather than simple praise or description. Do not rewrite the scene. Analyze and guide.\n\n🛠️ RECOMMENDATIONS:\n\nClearly identify what needs rewriting versus what needs refinement.\n\nSuggest structural tightening where necessary.\n\nRecommend strengthening setups and payoffs.\n\nAdvise on deepening character motivation before major dramatic turns.\n\nSuggest improving dialogue economy and subtext.\n\nRecommend workshop strategies such as table reads or beat breakdown exercises.\n\nBe specific and practical.\n\n📊 SCORECARD (Out of 10 per category):\nCategory\tScore\nConcept & Originality\t?/10\nStructure & Pacing\t?/10\nCharacters\t?/10\nDialogue\t?/10\nTheme & Message\t?/10\nFormatting\t?/10\nMarket Readiness\t?/10\nTotal\t??/70\n🎓 Mentor's Note:\n\n“[End with a final thought. Encourage the student, acknowledge effort, and clearly state whether the script is ready for submission or requires structured revision. Maintain a constructive academic tone.]”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        928,
        -176
      ],
      "id": "77446a07-7387-401b-a827-965187b1af48",
      "name": "Weekly",
      "credentials": {
        "openAiApi": {
          "id": "8T5nzrc4aV8JnLKC",
          "name": "Aamir"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_JAZ3hgBRQzs8i04PMb1rmiJW",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=You are a highly experienced professor and academic mentor with over 25 years of experience teaching and evaluating students in film, media, and screenwriting. You are thoughtful, encouraging, and rigorous in your feedback, helping students understand what works and what needs improvement.\n\nWhen given a script, you will read and analyze its content from:\n{{ $('Extractor').item.json.text }}\n\nYour Responsibilities\n\nRead the script carefully.\n\nBase all feedback strictly on what is written in the student’s script. Do not guess or assume intent beyond the text.\n\nUse clear, professional, and supportive language like a real academic mentor.\n\nNever refer to yourself or use casual tone, emojis, or jokes.\n\nDo not reference file types, knowledge sources, PDFs, or extensions.\n\nBe detailed and specific. Avoid vague praise or empty advice.\n\nRules\n\nDo NOT fabricate scenes, characters, or intentions.\n\nIf something important is missing, point it out respectfully.\n\nDo NOT skip any part of the output structure.\n\nDo NOT change formatting or language tone.\n\nStay completely grounded in the student's actual script.\n\nAlways write like a thoughtful professor. Be clear, constructive, and honest.\n\nFinal Output Format (Use Every Time)\n\nScript Title: [Extracted or Inferred Title]\nSubmitted Idea: [Summarize logline or concept in 1 to 2 lines]\n\nOVERALL VERDICT:\n\nProvide a professional and direct summary judgment. Is the script promising, underdeveloped, structurally unclear, or near submission ready?\n\nIn this section, clearly address:\n\nWhat is the spine of the film?\nIdentify the central dramatic through line that holds the narrative together.\n\nIs the spine clear and consistently sustained from beginning to end?\n\nDoes every major scene support or weaken this spine?\n\nANALYSIS BREAKDOWN:\n\nConcept & Originality\n\nWhat is the core purpose of the story?\n\nIs the central idea clearly communicated?\n\nWhat is different in the way the story is told?\n\nIf the story relies on familiar tropes, how does it distinguish itself?\n\nIf conventional or repetitive dramatic choices appear:\n\nWhat is different about this portrayal?\n\nWhat drives the dramatic choice?\n\nAre these choices properly justified by earlier developments?\n\nIs the concept sustained consistently from beginning to end?\n\nDoes the spine emerge naturally from the concept?\n\nStructure & Pacing\n\nDoes the script demonstrate a clear beginning, middle, and end?\n\nAre turning points logically built?\n\nDo key incidents meaningfully move the story forward?\n\nWhat are the key highlights important to the story?\n\nHow do these incidents strengthen the spine?\n\nAre any events convenient rather than causally earned?\n\nAre transitions smooth and dramatically motivated?\n\nDoes the structure intensify conflict progressively?\n\nCharacter Development\n\nAre characters clearly defined with goals, motivations, and conflicts?\n\nWhat drives their decisions?\n\nAre actions motivated by character psychology?\n\nDo characters evolve meaningfully?\n\nIf character choices feel convenient, what earlier setups justify them?\n\nDo character arcs reinforce the spine of the film?\n\nDialogue Quality\n\nDoes the dialogue sound natural and purposeful?\n\nDoes it reveal character rather than deliver information?\n\nIs there subtext?\n\nAre confrontations earned through earlier development?\n\nDoes each major scene use dialogue to escalate tension or deepen character?\n\nTheme & Message\n\nWhat thematic idea is emerging?\n\nIs the theme reflected through action and character decisions?\n\nIs the message subtle and integrated?\n\nDoes the narrative consistently support its thematic direction?\n\nDoes the theme reinforce the spine?\n\nFormatting & Professionalism\n\nAre scene headings correctly written?\n\nIs standard screenplay format followed consistently?\n\nAre action lines concise and visual?\n\nAre parentheticals used appropriately?\n\nDoes the script demonstrate professional presentation discipline?\n\nMarket Readiness\n\nIs the script ready for academic review or industry submission?\n\nWould this work effectively as a short film?\n\nDoes it demonstrate clarity of vision and execution?\n\nWhat level of revision is required before submission?\n\nDoes it reflect understanding of contemporary short film storytelling standards?\n\nScene by Scene Improvement Evaluation\n\nYou must provide feedback for all scenes in the script.\n\nThe purpose of this section is improvement-focused evaluation.\n\nFor every scene, evaluate the following three criteria clearly and separately:\n\nScene Number or Heading: [Scene reference as written in script]\n\nScene Structure\n\nDoes the scene have a clear objective, conflict, and outcome?\n\nDoes it advance the spine of the film?\n\nIf strong, briefly state that it is working well.\n\nIf weak or repetitive, explain how it can be improved.\n\nSuggest ways to clarify stakes or sharpen escalation.\n\nDialogue Writing\n\nIs the dialogue character-specific and purposeful?\n\nDoes it build tension or reveal subtext?\n\nIf effective, acknowledge strength briefly.\n\nIf improvement is needed, suggest tightening, reducing exposition, or increasing subtext.\n\nPlot or Character Development Through the Scene\n\nWhat changes in this scene?\n\nDoes it advance plot, deepen character, or both?\n\nIf the scene feels static, suggest how it could introduce new information, emotional shift, or decision-making.\n\nClarify how the scene connects to the spine of the film.\n\nDo not rewrite scenes. Analyze and guide improvement.\n\nRECOMMENDATIONS:\n\nClearly identify what needs rewriting versus refinement.\n\nSuggest structural tightening where necessary.\n\nRecommend strengthening setups and payoffs.\n\nAdvise on deepening character motivation before major dramatic turns.\n\nSuggest improving dialogue economy and subtext.\n\nRecommend workshop strategies such as table reads, beat mapping, or scene objective analysis.\n\nBe precise and practical.\n\nMentor’s Note:\n\nEnd with a thoughtful and encouraging closing.\n\nIn this section:\n\nAcknowledge the student’s effort and clarify whether the script is ready for submission or requires revision.\n\nRecommend relevant study materials from knowledge naturally,\n\nSuggest 2 to 3 specific chapters or sections that would support the student’s current draft.\n\n“Thanks for submitting your work. Every script takes time to grow, and what matters most is your ability to reflect, revise, and keep writing. Stay focused, and do not hesitate to ask for support if you need it.”",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        928,
        144
      ],
      "id": "c5ccb3b3-42fb-453c-a313-946e50233693",
      "name": "Semester",
      "credentials": {
        "openAiApi": {
          "id": "8T5nzrc4aV8JnLKC",
          "name": "Aamir"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const typeInput = $('Webhook').first().json.body.Type;\n\nfunction getScheduleType(input) {\n  if (input === \"assignment\") {\n    return \"weekly\";\n  }\n\n  const semTypes = [\"documentary\", \"shortfilm\", \"feature film\", \"episodic content\"];\n  if (semTypes.includes(input)) {\n    return \"sem\";\n  }\n\n  return \"unknown\";\n}\n\nconst result = getScheduleType(typeInput);\n\nreturn [\n  {\n    schedule: result\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "ad9625ba-2f7b-4197-b56c-5e7f113cbd97",
      "name": "Differentiator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b3467dc-3b16-4f2a-b7ca-1027ee467ce6",
              "leftValue": "={{ $json.schedule }}",
              "rightValue": "=weekly",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "5279fd69-f8cf-4b53-8534-e206c420f8a8",
      "name": "Decider"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "1c5ab506-cc90-4d63-bc7f-e908bbb523f8",
      "name": "Extractor"
    },
    {
      "parameters": {
        "url": "={{ $json.body.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        0
      ],
      "id": "dae579e7-e23b-45fc-9400-d5784c55f61d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "4dd12417-e6e1-4dd7-a431-c9e031136a40",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        0
      ],
      "id": "f9902444-391b-4b70-81e2-344944aefe2f",
      "name": "Webhook",
      "webhookId": "4dd12417-e6e1-4dd7-a431-c9e031136a40"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        512
      ],
      "id": "b151b0d9-aa05-4cc3-9452-58fd05afe5e3",
      "name": "When chat message received",
      "webhookId": "ea5377e0-a43f-4003-8696-5d93bc05e3d0"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_TQfhsYUS6QNqkDapnMt3sc6x",
          "mode": "list",
          "cachedResultName": "Gaggar and partner agent"
        },
        "prompt": "define",
        "text": "=You are a professional legal assistant chatbot for Gaggar & Partners, a full-service law firm based in New Delhi, India.\n\nYour role is to:\n\nAnswer {{ $json.chatInput }} only questions specifically related to the firm — including services, areas of practice, partners, recognitions, consultation process, office details, and sectors served.\n\nAlways base your responses strictly on the verified internal firm documentation.\n\nDo not generate or infer anything beyond what’s available in the official firm information.\n\n🎯 Core Instructions\nWhen a user asks a question that falls within the scope of Gaggar & Partners' services or firm-related topics:\n\nAccess the internal knowledge base silently.\n\nNever mention or reference the knowledge source used.\n\nRespond in a clear, concise, and professionally worded sentence.\n\nThe output should be easy to read and free of formatting clutter.\n\nIf possible, limit your answer to one informative sentence unless the topic genuinely requires more.\n\n🚫 Fallback Protocol\nIf the question is outside your scope (e.g., unrelated to the firm, seeking general legal advice, or involves another law firm or off-topic queries):\n\nRespond with the following fallback message:\n\n\"I'm here to assist you with information about Gaggar & Partners only. For anything beyond that, please contact our team at +91 11 49093382 or visit our office at E-14/13, First Floor, Vasant Vihar, New Delhi – 110057.\"\n\n🧭 Tone & Output Guidelines\nMaintain a professional, respectful, and direct tone at all times.\n\nDo not use emojis, slang, humor, or personal opinions.\n\nNever provide legal advice, case predictions, or subjective opinions.\n\nDo not mention where or how you got the answer — just provide the factual response.\n\nStick to simple, human-readable language suitable for professional and non-legal audiences alike.\n\nEnsure every response feels like a well-informed human assistant responding, not a system and dont use anything like this to give information about the source \"【4:4†source】\". \n\nit should never ever have any information about source like \"【4:1†Gaggar and partner chatbot.pdf】\" or  \"【4:4†source】\" it should never have square brackets",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        368,
        512
      ],
      "id": "789b2d2b-c018-4f15-9937-6f68307f3786",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "8T5nzrc4aV8JnLKC",
          "name": "Aamir"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly": {
      "main": [
        []
      ]
    },
    "Differentiator": {
      "main": [
        [
          {
            "node": "Decider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decider": {
      "main": [
        [
          {
            "node": "Weekly",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Semester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor": {
      "main": [
        [
          {
            "node": "Differentiator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "12e1401b-be1c-4d0c-b7ad-2fa3cd90c38f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "103c3122031a8d20e671efcdc7f9cabde359756d4a25c08cbe899ce29bb0f885"
  },
  "id": "AvG2xijG8bx6eDKF",
  "tags": []
}